
#home 
{
background-color: tomato;

}

#Tablita
{
	margin: 100px auto;
	width: 600px
}

table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

th, td{
	padding: 10px;

}

tr:nth-child(even){
	background-color: #ddd
}

tr:hover td{
	background-color: #369681;
}

#Encabezado
{
 background-color: tomato;
 border-bottom: solid 5px black;
}
#nombre {
  position: absolute;
  left : 50px;
  top  : 170px;
}

#integrantes {
  position: absolute;
  left : 50px;
  top  : 200px;
}

#diciplina {
  position: absolute;
  left : 50px;
  top  : 230px;
}

#plantel {
  position: absolute;
  left : 50px;
  top  : 260px;
}