#home
{
background-color: tomato;

}

#Tablita
{
	margin-left: 10px;
	/**width: 500px**/
}

table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

th, td{
	padding: 10px;

}

tr:nth-child(even){
	background-color: #ddd
}

tr:hover td{
	background-color: #369681;
}

#nombre
{
	position: absolute;
  left : 200px;
  top  : 170px;
}

#integrantes {
  position: absolute;
  left : 200px;
  top  : 200px;
}

#diciplina {
  position: absolute;
  left : 200px;
  top  : 230px;
}
#plantel {
  position: absolute;
  left : 200px;
  top  : 260px;
}
